body{
    background-color: rgb(156, 223, 250);
    font-family: Helvetica;
}

.play .img_top {
    display: none;
    position: absolute;
}

.text{
    text-align: center;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
    img{
        max-width: 90%;
        height: auto;
        border-radius: 60px;
        padding: 10px;
    }
    
    .play {
        position: relative;
        display: inline-block;
        margin-left: auto;
    }
    
    button{
        font-size:50px;
        padding: 14px 40px;
        margin: 0 auto;
        display: block;
    }
    
    p{
        font-size: 30px;
    }
    
    .mob{
        display: inline-block;
        text-align: center;
    }

    .desk{
        display: none;
    }
    
}

@media only screen  and (min-width : 1224px) {
    img{
        max-width: 80%;
        height: auto;
        border-radius: 70px;
        padding: 20px;
    }
    
    .play {
        position: relative;
        display: inline-block;
        margin-left: 20%;
    }
    
    .mob{
    display: none;
    }

    .desk{
        display: inline-block;
    }
    
    p{
        font-size: 24px;
    }
}
