body{
    background-color: rgb(156, 223, 250);
    font-family: Helvetica;
}

.play .img_top {
    display: none;
    position: absolute;
}

.text{
    text-align: center;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
    img{
        max-width: 90%;
        height: auto;
        border-radius: 60px;
        padding: 10px;
    }
    
    .play {
        position: relative;
        display: inline-block;
        margin-left: 10%;
    }
    
/*https://stackoverflow.com/questions/39278076/centering-text-on-circle-button  */
    button{
        text-align: center;
        width: 320px;
        height: 320px;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    
    h1{
        font-size: 50px;
    }
    
    p,#counterText,#counter{
        font-size: 35px;
    }
    
    .mob{
        display: inline-block;
        text-align: center;
    }

    .desk{
        display: none;
    }
    
}

@media only screen  and (min-width : 1224px) {
    img{
        max-width: 80%;
        height: auto;
        border-radius: 70px;
        padding: 20px;
    }
    
    .play {
        position: relative;
        display: inline-block;
        margin-left: 25%;
    }
    
    .mob{
    display: none;
    }

    .desk{
        display: inline-block;
    }
    
    p,#counterText,#counter{
        font-size: 24px;
    }
    
    button{
        font-size: 24px;
        padding: 10px 20px;
        border-radius: 12px;
    }
}
